* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: var(--bg-color);
    color: #fff;

}

:root {
    --bg-color: #000;
    --second-bg-color: #db0001;
    --text-color: #fff;
    --main-color: #00ADB5;
}

.header {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(/assets/images/header-image.png);
    background-size: cover;
    background-position: center;
    padding: 10px 8%;
    position: relative;
}

nav {
    display: flex;
    padding: 10px 0;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 150px;
    cursor: pointer;
}

nav button {
    border: 0;
    outline: 0;
    background: var(--second-bg-color);
    color: var(--text-color);
    padding: 7px 20px;
    font-size: 12px;
    border-radius: 4px;
    margin-left: 10px;
    cursor: pointer;
}

.languageBtn {
    display: inline-flex;
    align-items: center;
    background: transparent;
    border: 1px solid var(--text-color);
    padding: 7px 10px;

}

.languageBtn img {
    width: 10px;
    margin-left: 10px;
}

.headerContent {

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    margin-top: 100px;

}

.headerContent h1 {

    font-size: 60px;
    line-height: 70px;
    font-weight: 600;
    max-width: 650px;


    /* font-weight: 900;
    font-size: 3rem;
    line-height: 70px;
    max-width: 1050px;
    min-width: 960px; */
}

.headerContent h3 {
    font-weight: 400;
    font-size: 1.5rem;
    margin-bottom: 20px;

}

.email-SignUp {
    background: var(--text-color);
    border-radius: 4px;
    display: flex;
    align-items: center;
    margin-top: 30px;
    overflow: hidden;

}

.email-SignUp input {
    flex: 1;
    border: 0;
    outline: 0;
    margin-left: 20px;


}


.email-SignUp button {
    background: var(--second-bg-color);
    color: var(--text-color);
    font-size: 16px;
    border: 0;
    outline: 0;
    cursor: pointer;
    padding: 15px 30px;
}

/* features */

.features {
    padding: 50px 12%;
    font-size: 22px;
}

.row {
    display: flex;
    width: 100%;
    align-items: center;
    flex-wrap: wrap;
    padding: 50px 0;
}

.text-col {
    flex-basis: 50%;
    margin-bottom: 20px;
}

.img-col {
    flex-basis: 20%;
    margin-bottom: 20px;
}

.img-col img {
    display: block;
    width: 400px;
    height: auto;
    margin: 0 100px 100px 0;
}

.features h2 {
    font-size: 50px;
    font-weight: 600;
    margin-bottom: 20px;
}


/* faq */

.faq {
    color: white;
    background: black;
    padding: 30px;
}

.faq h2 {
    text-align: center;
    font-weight: 900;
    font-size: 48px;
}

.faqBox {
    font-weight: 400;
    font-size: 24px;
    max-width: 60vw;
    display: flex;
    justify-content: space-between;
    margin: 34px auto;
    cursor: pointer;
    background-color: #2d2d2d;
    padding: 25px;

}

.faqBox:hover {
    background-color: #414141;
    color: white;
}

.footer {
    color: white;
    max-width: 60vw;
    margin: auto;
    padding: 60px;

}

.que {

    padding: 34px 0;

}

.footer-Box {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    color: white;

}

.footer-Box a {
    font-size: 14px;
    color: white;


}

.footer-Box items {
    display: flex;
    gap: 25px;
    flex-direction: column;

}